/project-2d/Library
/project-2d/Temp
/project-2d/UserSettings
/project-2d/Logs

**/.vs/

/project-2d/Build/

/project-2d/obj/
/project-2d/.vscode/
project-2d/project-2d.rar
/APIPractice/Assets/TextMesh Pro
/APIPractice/Library
/Ejercicio1/Library
/project-2d/Assets/TextMesh Pro
/APIPractice/Web
/APIPractice
/Ejercicio1
